body {
    width: 100%;
    margin: 0 auto;
}

.footer {
    border: 2px solid black;

    background: #78797a;

    position: fixed;
    bottom: 0;
    width: 100%;


    text-align: center;
    color: floralwhite;
}

.footerText{
    float: right;
}

