body{
    background-color: #92b7d6;
}

img {
    max-width: 50%;
    height: auto;
}

.mh-logo{
    max-width: 10%;
    width: 10%;
}

.loginContainer{
    max-width: 98%;
    margin: 0 auto;
    padding-left: 1%;
    padding-right: 1%;
}

.container {
    max-width: 99%;
    padding: 2px;
    margin: 0 auto;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    border: 2px solid black;
    background-color: #78797a;
}

.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}
.main-nav li {
    display: inline;
}
.main-nav a {
    display: inline-block;
    padding: 1.0em 1.0em;

    border: 1px solid black;
    background-color: #979899;
}

.loginButton{
    float: right;
    border: 1px solid black;
}