form{
    width:50%;
    margin-top: 4%;
    margin-bottom: 5%;

    margin-left: 5%;

    display: inline-block;
}

.shoppingcartInput  {
    width:25%;

    margin-bottom: 1%;

    background-color: lightgray;
    border-radius: 7px;
    text-align: center;
    color: black;
}


input#submit {
    height: 24px;
    border:solid;
    border-color: black;
    border-radius: 7px;


    background: rgba(135,100,82,0.75);
    color: black;

    text-align: center;

    width:25%;
    margin:0;
    padding:0;
    margin-bottom: 4%;
}


.page-wrapper{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.shoppingcartProducts{
    margin-top: 2%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.product {
    display:flex;

    width: 65%;
    border: solid black 3px;
    align-items: center;
}
.productAfbeelding{
    width: 100%;
}